
body{
    font-family:  Arial, sans-serif;
    color: blanchedalmond;
    background:  #5d6e70;
}
button{
    margin: 30px auto;
    width: 20%;
    border-radius: 20%;
    background-color: turquoise;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}

label{
    margin-top: 30px;
}

.error {
    color: white;
    background-color: rgba(216, 92, 51, 0.7);
    border-radius: 0 0 5px 5px;
}

.success {
    color: white;
    background-color: rgba(63, 227, 55, 0.7);
    border-radius: 0 0 5px 5px;
}